.container {
	width: 100%;
	border-collapse: collapse;

	th {
		white-space: nowrap;
		font-weight: 600;
		text-align: left;
		font-size: 0.8vw;
		text-transform: uppercase;
		cursor: pointer;
		padding: 0 0 1.5vw 0;
		transition: color 0.3s;

		@media screen and (max-width: 1000px) {
			font-size: 3.2vw;
			padding-bottom: 6vw;
		}

		svg {
			font-size: 1.2vw;
			position: relative;
			right: -0.4vw;
			top: 0.3vw;

			@media screen and (max-width: 1000px) {
				font-size: 4.8vw;
				right: -1vw;
				top: 1.5vw;
			}
		}

		&:not(:first-child) {
			padding-left: 1vw;

			@media screen and (max-width: 1000px) {
				padding-left: 10vw;
			}
		}

		&:hover {
			color: #39cdcc;
		}
	}

	td {
		white-space: nowrap;
		text-align: left;
		font-size: 0.9vw;
		text-transform: capitalize;
		padding: 1vw 0;
		transition: background-color 0.3s;

		@media screen and (max-width: 1000px) {
			font-size: 3.6vw;
			padding: 4vw 0;
		}

		&:not(:first-child) {
			padding-left: 1vw;

			@media screen and (max-width: 1000px) {
				padding-left: 10vw;
			}
		}

		&:not(:last-child):hover {
			background-color: rgba(57, 205, 204, 0.1);
		}

		&:nth-child(6):hover {
			background-color: unset;
		}

		&:last-child {
			transition: color 0.3s;

			@media screen and (max-width: 1000px) {
				padding-right: 4vw;
			}

			&:hover {
				color: #39cdcc;
			}
		}

		p {
			font-size: 0.9vw;
			text-align: center;
			border-radius: 10vw;
			padding: 0.5vw;
			cursor: default;

			@media screen and (max-width: 1000px) {
				font-size: 3.6vw;
				padding: 2vw;
			}

			&.active {
				background-color: rgba($color: #39cd62, $alpha: 0.1);
				color: #39cd62;
			}

			&.pending {
				background-color: rgba($color: #e9b200, $alpha: 0.1);
				color: #e9b200;
			}

			&.blacklisted {
				background-color: rgba($color: #e4033b, $alpha: 0.1);
				color: #e4033b;
			}
		}
	}

	tbody {
		tr:not(:first-child) {
			border-top: 0.1vw solid rgb(0, 0, 0, 0.1);
		}

		.options {
			position: relative;

			> svg {
				cursor: pointer;
			}

			div {
				position: absolute;
				background-color: #fff;
				padding: 1.5vw 1.25vw;
				border-radius: 0.4vw;
				box-shadow: 0 0 0.6vw rgba($color: #000000, $alpha: 0.05);
				display: flex;
				flex-direction: column;
				z-index: 2;
				right: -110%;
				top: 20%;
				gap: 1vw;

				@media screen and (max-width: 1000px) {
					right: 10%;
					gap: 4vw;
					border-radius: 1.6vw;
					box-shadow: 0 0 2.4vw rgba($color: #000000, $alpha: 0.05);
					padding: 6vw 5vw;
					border: 0.5vw solid rgba($color: #000000, $alpha: 0.1);
				}

				button {
					display: flex;
					align-items: center;
					gap: 0.6vw;
					font-weight: 500;
					font-size: 0.9vw;
					cursor: pointer;
					background-color: unset;
					border: none;
					color: #213f7d;
					transition: color 0.3s;

					a {
						text-decoration: none;
						display: flex;
						align-items: center;
						gap: 0.6vw;
						font-weight: 500;
						font-size: 0.9vw;
						cursor: pointer;
						color: #213f7d;
						transition: color 0.3s;

						@media screen and (max-width: 1000px) {
							font-size: 3.6vw;
							gap: 2.4vw;
						}

						&:hover {
							color: #39cdcc;
						}
					}

					@media screen and (max-width: 1000px) {
						font-size: 3.6vw;
						gap: 2.4vw;
					}

					&:nth-child(2):hover {
						color: #e4033b;
					}

					&:nth-child(3):hover {
						color: #39cd62;
					}
				}
			}
		}
	}
}

.formFilter {
	position: absolute;
	background-color: #e4033b;
	z-index: 2;
	top: 0;
	background-color: #fff;
	padding: 1.5vw 1.25vw;
	border-radius: 0.4vw;
	box-shadow: 0 0 0.6vw rgba($color: #000000, $alpha: 0.05);
	border: 0.1vw solid rgba($color: #000000, $alpha: 0.07);
	width: 18vw;

	@media screen and (max-width: 1000px) {
		box-shadow: 0 0 2.4vw rgba($color: #000000, $alpha: 0.05);
		border: 0.4vw solid rgba($color: #000000, $alpha: 0.07);
		width: 80vw;
		padding: 6vw 5vw;
		border-radius: 1.6vw;
	}

	div {
		display: flex;
		flex-direction: column;
		margin-bottom: 1vw;
		gap: 0.4vw;

		@media screen and (max-width: 1000px) {
			margin-bottom: 4vw;
			gap: 1.6vw;
		}

		label {
			font-size: 0.9vw;
			font-weight: 500;

			@media screen and (max-width: 1000px) {
				font-size: 3.6vw;
			}
		}

		select,
		input {
			background-color: white;
			font-size: 0.9vw;
			color: #213f7d;
			outline: none;
			border-radius: 0.4vw;
			padding: 0.7vw 1vw;
			border: 0.1vw solid rgba($color: #213f7d, $alpha: 0.2);

			@media screen and (max-width: 1000px) {
				font-size: 3.6vw;
				border-radius: 1.6vw;
				padding: 2.8vw 4vw;
				border: 0.4vw solid rgba($color: #213f7d, $alpha: 0.2);
			}

			&:focus {
				border-color: #39cdcc;
			}

			&::placeholder {
				font-size: 0.9vw;
				color: rgb(33, 63, 125, 0.9);

				@media screen and (max-width: 1000px) {
					font-size: 3.6vw;
				}
			}

			option {
				background-color: white;
				font-size: 0.95vw;
				cursor: pointer;

				@media screen and (max-width: 1000px) {
					font-size: 3.8vw;
				}
			}
		}

		&:last-child {
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 0;
			margin-top: 1.5vw;
			gap: 1vw;

			@media screen and (max-width: 1000px) {
				margin-top: 6vw;
				gap: 4vw;
			}

			button {
				flex: 1;
				font-size: 0.9vw;
				font-weight: 600;
				padding: 0.7vw 0;
				outline: none;
				border-radius: 0.4vw;
				border: none;
				cursor: pointer;
				transition: opacity 0.3s;

				@media screen and (max-width: 1000px) {
					font-size: 3.6vw;
					padding: 2.8vw 0;
					border-radius: 1.6vw;
				}

				&:first-child {
					background-color: white;
					color: #213f7d;
					border: 0.1vw solid rgba($color: #213f7d, $alpha: 0.7);

					@media screen and (max-width: 1000px) {
						border: 0.4vw solid rgba($color: #213f7d, $alpha: 0.7);
					}

					&:hover {
						opacity: 0.7;
					}
				}

				&:last-child {
					color: white;
					background-color: #39cdcc;

					&:hover {
						opacity: 0.7;
					}
				}
			}
		}
	}
}
